*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.quiz{
    
  margin: 20px;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(175, 172, 172);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;

}
.qs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qs>.status{
    font-size: x-small;
    color: indigo;
}
.quiz>div>span>span{
    font-family: fantasy;
    font-size: x-large;
    color: firebrick;
}
.submitAns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submitAns>input,button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: blueviolet;
}
.next{
    display: none;
}
.reset{
    font-size: xx-small;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
   
}
img{
 
  position: absolute;
top: -10px;
    background-origin: content-box;
}