.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
table{
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 8px 0px;
    z-index: 20;
    
    
}
button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    z-index: -10;
    background-color: rgb(21, 90, 50);
    color: white;
}
.lcd{
    width: 150px;
    height: 20px;
    background-color: darkslategrey;
    color: white;
    padding:3px;
    outline: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: margin 1s linear ;
    text-align: center;
}
@keyframes margin{
    0%{
        margin-bottom:30px;
    }
    100%{
        margin-bottom:0px ;
    }
}

